/*Dette er en CSS-reset, google it*/

* {
    margin: 0;
    padding: 0;
}


/*Øverste boks som inneholder logo og følger brukeren ned på siden*/

header {
    width: 100%;
    background-color: #FFFFFF;
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.2);
    top: 0;
    left: 0;
    position: fixed;
    height: 4em;
    z-index: 200;
}

.header-container {
  height: 4em;
  width: 65em;
  margin-left: auto;
  margin-right: auto;
}

/*Selvforklarende */

header img {
    padding: 0.8em;
    margin-left: -0.7em;
    height: 2.5em;
}


/*Den er dotted fordi man skal se border mens man arbeider, border skal vekk*/

.attention-grabber {
    width: 50em;
    background-color: ;
    /*border: 1px dotted black;*/
    height: 25em;
    margin-left: auto;
    margin-right: auto;
    margin-top: 8em;
}


#line-gradient {
    width: 50em;
    height: 0.1em;
    background-color: #00B5DE;
    background: linear-gradient(to right, #00B5DE, transparent);
    z-index: 500;
    margin-left: auto;
    margin-right: auto;
    margin-top: -0.5em;
}


/*SKAL LAGE LINJE UNDER FRIDA, SOM FADER FRA BLÅTT TIL HVITT*/


/*Farge skal endres til den riktige*/

.attention-grabber h1 {
    font-size: 80px;
    font-family: 'Source Sans Pro', sans-serif;
    color: #00B5DE;
    /*0570CB*/
    padding: 0;
    margin: 0;
}

.attention-grabber h3 {
    margin-left: auto;
    margin-right: auto;
    font-family: 'Source Sans Pro', sans-serif;
    color: white;
    /*0570CB*/
    text-align: center;
}

.attention-grabber-content {
    margin-left: auto;
    margin-right: auto;
    padding: 0.5em 1em 1em 1em;
    font-size: 40px;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 100;
    color: #063A54;
    text-align: center;
}

.attention-keeper {
    width: 100%;
    height: 25em;
    position: absolute;
    margin-top: 8em;
    background-color: #063A54;
    margin-left: auto;
    margin-right: auto;
    color: white;
    font-family: 'Source Sans Pro', sans-serif;
}

.att-keep-box {
    width: 65em;
    height: 5em;
    /*border: 0.1em dotted black;*/
    margin-left: auto;
    margin-right: auto;
    margin-top: 1em;
}

.att-keep-box2 {
    width: 65em;
    height: 15em;
    /*border: 0.1em dotted black;*/
    margin-left: auto;
    margin-right: auto;
    margin-top: 1em;
}

.att-keep-box h1 {
    font-size: 60px;
    text-align: left;
    text-transform: uppercase;
}

.att-keep-box2 p {
    font-size: 32px;
    text-align: left;
    font-weight: 300;
}


/*Denne kan du bruke dersom du ønsker litt fetere tekst (bruk span)*/

.bold {
    font-weight: 400;
}

.bold2 {
    font-weight: 700;
}


/*Call to Action-knapp*/

.cta-contact {
    border-radius: 1em;
    background-color: white;
    border: 0.1em solid #063A54;
    height: 2.5em;
    width: 18em;
    margin-left: auto;
    margin-right: auto;
    color: #063A54;
}

.cta-contact h3 {
    padding: 0.4em;
    color: #063A54;
}

.cta-contact a {
    text-decoration: none;
}

.cta-contact h3:hover {
    color: white;
}

.cta-contact:hover {
    background-color: #063A54;
}


/*Den er dotted fordi man skal se border mens man arbeider, border skal vekk*/

.box-container-one {
    width: 65em;
    height: 46em;
    /*border: 1px dotted black;*/
    margin-left: auto;
    margin-right: auto;
    margin-top: 42em;
    font-family: 'Source Sans Pro', sans-serif;
    color: #063A54;
}


/* Her komemr den første boksen "upperbox", den inneholder tre mindre bokser som igjen inneholder informasjon*/

.upperbox {
    height: 18em;
    width: 65em;
    /*border: 1px solid black;*/
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between
}

.challenge-box {
    height: 18em;
    width: 18em;
    line-height: 1.5em;
    text-align: center;
    /*border-bottom: 1px solid black;*/
    color: #063A54;
}

.challenge-box h3 {
    color: #00B5DE;
    padding-bottom: 1em;
    text-align: center;
    font-size: 1.5em;
    text-transform: uppercase;
}

.capable-box {
    height: 18em;
    width: 18em;
    text-align: center;
    line-height: 1.5em;
    /*border-bottom: 1px solid black;*/
    color: #063A54;
}

.capable-box h3 {
    color: #00B5DE;
    padding-bottom: 1em;
    text-align: center;
    font-size: 1.5em;
    text-transform: uppercase;
}

.result-box {
    height: 18em;
    width: 18em;
    line-height: 1.5em;
    text-align: center;
    /*border-bottom: 1px solid black;*/
    color: #063A54;
}

.result-box h3 {
    color: #00B5DE;
    padding-bottom: 1em;
    text-align: center;
    font-size: 1.5em;
    text-transform: uppercase;
}


/* Linjen som skiller infoboksene */

#line-gradient2 {
    width: 65em;
    height: 0.2em;
    background: linear-gradient(to right, #063954, white, #063954);
    z-index: 500;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5em;
}


/* Den nedre boksen som inneholder 2 mindre bokser*/

.downbox {
    height: 18em;
    width: 65em;
    /*border: 1px solid black;*/
    margin-top: 5em;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
}

.message-box {
    height: 18em;
    width: 18em;
    /*border-bottom: 1px solid black;*/
    margin-left: 9em;
    text-align: center;
    line-height: 1.5em;
    color: #063A54;
}

.message-box h3 {
    color: #00B5DE;
    padding-bottom: 1em;
    text-align: center;
    font-size: 1.5em;
    text-transform: uppercase;
}

.service-box {
    height: 18em;
    width: 18em;
    /*border-bottom: 1px solid black;*/
    margin-right: 9em;
    text-align: center;
    line-height: 1.5em;
    color: #063A54;
}

.service-box h3 {
    color: #00B5DE;
    padding-bottom: 1em;
    text-align: center;
    font-size: 1.5em;
    text-transform: uppercase;
}


/* Her slutter infoboksene */


/* Her kommer statistikk boksen*/

.box-container-two {
    height: 37.2em;
    width: 65em;
    /*border: 1px dotted black;*/
    margin-left: auto;
    margin-right: auto;
    margin-top: 5em;
}


/* Overskriften til bilde */

.box-container-two h1 {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: 1em;
    color: #00B5DE;
}

#statbilde {
    margin: auto;
    width: 65em;
    height: 33em;
}

.box-container-two-img {
    height: 40em;
    width: 65em;
    /*border: 1px dotted black;*/
    margin-left: auto;
    margin-right: auto;
    margin-top: 5em;
}

.box-container-two-img h1 {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: 1em;
    color: #00B5DE;
}

#kalender {
    margin: auto;
    width: 65em;
    height: 35.8em;
}


/* margin top må økes */


/* zak:fargeansvarlig:bytt til passende/riktig farger eller send meg koder så kan jeg legge inn :--) */


/* her ligger de tre nederste infoboksene (mer info, evry, avdeling) */

.attention-keeper-bottom {
    width: 100%;
    height: 21em;
    margin-top: 8em;
    margin-bottom: 10em;
    background-color: #ffffff;
    margin-left: auto;
    margin-right: auto;
    color: black;
    font-family: 'Source Sans Pro', sans-serif;
}

.box-container-three {
    height: 18em;
    width: 65em;
    /*border: 1px dotted black;*/
    margin-left: auto;
    margin-right: auto;
    margin-top: 2em;
    padding-top: 2em;
    text-align: center;
}

.upperbox3 {
    height: 15em;
    width: 65em;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
}

.boxHead {
    text-transform: uppercase;
    margin-bottom: 0.5em;
    color: #00B5DE;
    font-size: 1.5em;
    font-family: 'Source Sans Pro', sans-serif;
}

.boxHeadInfo {
    text-align: center;
}

#directlink {
    list-style-type: none;
}

.boxHeadEvry {
    text-align: center;
}

.boxHeadAppDev {
    text-align: center;
}

.info-box {
    height: 18em;
    width: 18em;
    /*border-bottom: 1px solid black;*/
    font-family: 'Source Sans Pro', sans-serif;
    line-height: 1.5em;
}

#infoMail {
    color: black;
    font-family: 'Source Sans Pro', sans-serif;
    text-decoration: none;
}

#infoMail:hover {
    color: grey;
}

.evry-box {
    height: 18em;
    width: 18em;
    /*border-bottom: 1px solid black;*/
    font-family: 'Source Sans Pro', sans-serif;
    text-align: center;
}

.appdev-box {
    height: 18em;
    width: 18em;
    /*border-bottom: 1px solid black;*/
    font-family: 'Source Sans Pro', sans-serif;
}


/* zak:fargeansvarlig:bytt til passende/riktig farger eller send meg koder så kan jeg legge inn :--) */


/* her er css'en til kontaktskjemaet */

form {
    background: #edf1f4;
    margin: 0 auto;
    /*position: relative;*/
    /*left:0em;
  right:0em;*/
    width: 100%;
    height: 40em;
    text-decoration: none;
    /*padding: 1em;*/
    font-family: 'Source Sans Pro', sans-serif;
}

.fiksing1 {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    height: auto;
    /*border: 1px solid;*/
    margin-bottom: 0.8em;
}

#headline {
    text-align: center;
    padding-top: 0.8em;
    padding-bottom: 1.25em;
    font-size: 2em;
    font-weight: 100;
    font-family: 'Source Sans Pro', sans-serif;
    color: #063A54;
}

input {
    width: 20em;
    /*display: block;*/
    border: .1em solid #cdd7dd;
    height: 3em;
    padding: 0.4em;
    padding-left: 1.2em;
    font-size: 0.85em;
}

.felt {
    margin-top: 5em;
}

.h {
    margin: auto;
    margin-left: 1em;
}

.v {
    margin: auto;
    margin-right: 1em;
}

.m {
    margin-top: 0.6em;
    margin: auto;
}

textarea {
    width: 40.9em;
    height: 15em;
    /*  display: block;*/
    font-family: 'Source Sans Pro', sans-serif;
    padding-top: 1em;
    padding-left: 1.2em;
    border: .1em solid #cdd7dd;
    font-size: 0.92em;
    resize: none;
}

#kontakt {
    width: 10em;
    /*left: 12em;*/
    margin-top: 1em;
    background: #edf1f4;
    color: #063A54;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 1em;
    height: 2.5em;
    border-radius: 1.5em;
    border: 0.1em solid #063954;
    text-transform: uppercase;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 1em;
}

#kontakt:hover {
    background: #063A54;
    color: white;
}

textarea:focus, input:focus {
    border: 1px solid #063954;
}


/* footeren er ikke ferdig! feel free to contribute :'D */


/* footer'ens farge, bredde, posisjon etc (som sakgt, ikke ferdig) */

footer {
    width: 100%;
    /*margin-top: 5em;*/
    margin: 0 auto;
    background-color: #063954;
    height: 10em;
    /*border-top:1px solid;*/
    margin-bottom: 0em;
    position: absolute;
    /*padding-top: 2.2em;*/
}

#altInnholdFooter {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    /*border:1px solid;*/
    width: 65em;
    height: 8em;
    margin: 0 auto;
    margin-top: 1em;
    font-family: 'Source Sans Pro', sans-serif;
}


/* krediteringen i footer'ens posisjon og farge etc */

.cred {
    /*padding-top: 1.5em;*/
    height: 6em;
    width: 16em;
    margin-top: 1em;
    color: white;
    text-align: center;
    /*border: 1px solid;*/
    /*letter-spacing: 0.05em;*/
    font-weight: 400;
    font-size: 1em;
    line-height: 2em;
}


/* ikonene/linkene sin farge */

.linker {
    text-decoration: none;
    color: #063954;
}


/* inni her ligger fb, tw og in */

#sist {
    color: #063954;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
}


/* inni her ligger både fb, tw, in OG sirklene de ligger inne i */


/* Vi må finne en annen løsning på ikonene, svg osv er mye styr*/

#alleIkoner {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    /*border: 1px solid white;*/
    width: 16em;
    height: 4em;
    margin-left: auto;
    margin-top:1.5em;
}

#facebookIkon {
    margin-left: -17.4em;
    margin-top: 1.2em;
}

#inIkon {
    margin-top: 1.2em;
    margin-left: 0.3em;
}

#twitterIkon {
    margin-right: 5.75em;
    margin-top: 1.25em;
}
