/* mobil css'en */
/* teksten øverst -> over her skal det Z&T har laget være*/
h3{
  text-align: center;
}

/* den bakerste boksen */
#fargebakerst{
  width:104%;
  margin-top:10%;
  margin-left:-2%;
  background-color:#5B635D;
  height:70%;
}


/* den nest bakerste boksen/"midtboksen" */
#fargebakboks{
  width:70%;
  margin-left:17%;
  background-color: #707772;
  height:50%;
  padding-bottom: 8%;
  padding-top: 2%;
}
/* tolker det som at det er mail, så her har jeg laget det */
#mailfelt{
  padding-bottom:8%;
}
#mailknapp{
  text-align: center;
}

/* her er tekstboksene sin bredde, farge etc*/
.boks{
  width:70%;
  border:0px solid;
  margin-left: 10.2%;
  background-color: #A0AAA2;
  padding:5%;
  text-align:center;
}

/* hvor mye tekstboks #1 = mer info, skal ligge mot toppen */
.en{
  margin-top: 0%;
}

/* hvor mye tekstboks #2 = EVRY, skal ligge mot toppen */
.to{
  margin-top: 10%;
}

/* hvor mye tekstboks #3 = Drift og Service, skal ligge mot toppen */
.tre{
  margin-top: 10%;
}

/* hvor mye tekstboks #4 = AppDev, skal ligge mot toppen */
.fire{
  margin-top: 10%;
}

/* hvor mye tekstboks #5 = mld & varsel, skal ligge mot toppen */
.fem{
  margin-top: 10%;
}

/* hvor mye tekstboks #6 = legal, skal ligge mot toppen */
.seks{
  margin-top: 10%;
}

/* overskriftene i tekstboksene skal være sentrert */
h6{
  text-align: center;
}

/* teksten i tekstboksene skal være sentrert */
.infotekst{
  text-align: center;
}

/* footer'ens farge, bredde, posisjon etc */
footer{
  width:100%;
  left:0;
  position:absolute;
  margin:0 auto;
  background-color: #A0AAA2;
  height:auto%;
  border-top:1px solid;
}

/* krediteringen i footer'ens posisjon og farge */
.cred{
  color:white;
  text-align: center;
  margin-top:4%;

}

.linker{
  text-decoration: none;
  color:white;
  padding: 1%;
}
